@import './_vars.scss';
@import './_mixins.scss';
@import './_fonts.scss';


.experience-page {
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-content: center;
  align-items: center;
  padding-bottom: 60px!important;
  box-sizing: border-box;
}

.title-shine {
  position: relative;
  width: 100%;
  text: {
    align: center;
    transform: uppercase;
  }
  margin-top: 5em;
  margin-bottom: 10em;
  h1 {
    font-size: 10.5em;
    width: 100%;
    font-style:  italic;
    span {
      display: block;
      text-align: center;
      font-style: italic;
      line-height: 1.25em;
      letter-spacing: 5px;
      font: {
        size: 0.25em;
        family: "Noto Sans", sans-serif;
      }
    }
  }
  .shine {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.5;
    filter: blur(10px);
  }
}


.team-photo {
    border: 10px solid $white;
    @include shadow;
    width: 70%;
    margin-bottom: 6em;
}

.experience-footer {
    font-size: 1.25em;
    color: $white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 30px;
    @include flex-row-center;
    p {
      @include flex-row-center;
      img {
        width: 2em;
        height: 2em;
        max-width: 2em;
        &.at {
          margin-right: 0.5em;
        }
        &.g5{
          margin-left: 0.5em;
        }
      }
    }
  }
  

.experience-buttons {
    width: 80%;
}

button._button {
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 3.5em;
    @include flex-row-center;
    width: 100%;
    border-radius: 0.5em;
    background-color: $white;
    position: relative;
    margin-bottom: 20px;
    border: 4px solid $white;
    text-transform: uppercase; 
    background: transparent;
    font-size: 2.5em;
    max-width: 100%;
    font-style:  italic;
    font-family: "Lilita One";
    color: $white;
}
