@import './_vars.scss';
@import './_mixins.scss';
@import './_fonts.scss';

@mixin star-outline {
  background-image: url("data:image/svg+xml;base64,
PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDg3LjIyMiA0ODcuMjIyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0ODcuMjIyIDQ4Ny4yMjI7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgY2xhc3M9IiI+PGc+PGc+Cgk8cGF0aCBkPSJNNDg2LjU1NCwxODYuODExYy0xLjYtNC45LTUuOC04LjQtMTAuOS05LjJsLTE1Mi0yMS42bC02OC40LTEzNy41Yy0yLjMtNC42LTctNy41LTEyLjEtNy41bDAsMGMtNS4xLDAtOS44LDIuOS0xMi4xLDcuNiAgIGwtNjcuNSwxMzcuOWwtMTUyLDIyLjZjLTUuMSwwLjgtOS4zLDQuMy0xMC45LDkuMnMtMC4yLDEwLjMsMy41LDEzLjhsMTEwLjMsMTA2LjlsLTI1LjUsMTUxLjRjLTAuOSw1LjEsMS4yLDEwLjIsNS40LDEzLjIgICBjMi4zLDEuNyw1LjEsMi42LDcuOSwyLjZjMi4yLDAsNC4zLTAuNSw2LjMtMS42bDEzNS43LTcxLjlsMTM2LjEsNzEuMWMyLDEsNC4xLDEuNSw2LjIsMS41bDAsMGM3LjQsMCwxMy41LTYuMSwxMy41LTEzLjUgICBjMC0xLjEtMC4xLTIuMS0wLjQtMy4xbC0yNi4zLTE1MC41bDEwOS42LTEwNy41QzQ4Ni44NTQsMTk3LjExMSw0ODguMTU0LDE5MS43MTEsNDg2LjU1NCwxODYuODExeiBNMzQ5LjU1NCwyOTMuOTExICAgYy0zLjIsMy4xLTQuNiw3LjYtMy44LDEybDIyLjksMTMxLjNsLTExOC4yLTYxLjdjLTMuOS0yLjEtOC42LTItMTIuNiwwbC0xMTcuOCw2Mi40bDIyLjEtMTMxLjVjMC43LTQuNC0wLjctOC44LTMuOS0xMS45ICAgbC05NS42LTkyLjhsMTMxLjktMTkuNmM0LjQtMC43LDguMi0zLjQsMTAuMS03LjRsNTguNi0xMTkuN2w1OS40LDExOS40YzIsNCw1LjgsNi43LDEwLjIsNy40bDEzMiwxOC44TDM0OS41NTQsMjkzLjkxMXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIHN0eWxlPSJmaWxsOiNGRkZGRkYiPjwvcGF0aD4KPC9nPjwvZz4gPC9zdmc+");
}

@mixin star {
  background-image: url("data:image/svg+xml;base64,
  PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTUuODY3IDU1Ljg2NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTUuODY3IDU1Ljg2NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48Zz48cGF0aCBkPSJNNTUuODE4LDIxLjU3OGMtMC4xMTgtMC4zNjItMC40MzEtMC42MjYtMC44MDgtMC42ODFMMzYuOTIsMTguMjY4TDI4LjgzLDEuODc2Yy0wLjE2OC0wLjM0Mi0wLjUxNi0wLjU1OC0wLjg5Ni0wLjU1OCAgcy0wLjcyOSwwLjIxNi0wLjg5NiwwLjU1OGwtOC4wOTEsMTYuMzkzbC0xOC4wOSwyLjYyOWMtMC4zNzcsMC4wNTUtMC42ODksMC4zMTgtMC44MDgsMC42ODFjLTAuMTE3LDAuMzYxLTAuMDIsMC43NTksMC4yNTMsMS4wMjQgIGwxMy4wOTEsMTIuNzZsLTMuMDkxLDE4LjAxOGMtMC4wNjQsMC4zNzUsMC4wOSwwLjc1NCwwLjM5NywwLjk3OGMwLjMwOSwwLjIyNiwwLjcxOCwwLjI1NSwxLjA1MywwLjA3NmwxNi4xODItOC41MDZsMTYuMTgsOC41MDYgIGMwLjE0NiwwLjA3NywwLjMwNywwLjExNSwwLjQ2NiwwLjExNWMwLjIwNywwLDAuNDEzLTAuMDY0LDAuNTg4LTAuMTkxYzAuMzA4LTAuMjI0LDAuNDYyLTAuNjAzLDAuMzk3LTAuOTc4bC0zLjA5LTE4LjAxNyAgbDEzLjA5MS0xMi43NjFDNTUuODM4LDIyLjMzNiw1NS45MzYsMjEuOTM5LDU1LjgxOCwyMS41Nzh6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBzdHlsZT0iZmlsbDojRkZGRkZGIj48L3BhdGg+PC9nPiA8L3N2Zz4=");
}

@mixin circle {
  background-image: url("data:image/svg+xml;base64,
  PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgY2xhc3M9IiI+PGc+PGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMjU2LDBDMTE0LjYxOCwwLDAsMTE0LjYxOCwwLDI1NnMxMTQuNjE4LDI1NiwyNTYsMjU2czI1Ni0xMTQuNjE4LDI1Ni0yNTZTMzk3LjM4MiwwLDI1NiwweiBNMjU2LDQ2OS4zMzMgICAgYy0xMTcuODE4LDAtMjEzLjMzMy05NS41MTUtMjEzLjMzMy0yMTMuMzMzUzEzOC4xODIsNDIuNjY3LDI1Niw0Mi42NjdTNDY5LjMzMywxMzguMTgyLDQ2OS4zMzMsMjU2UzM3My44MTgsNDY5LjMzMywyNTYsNDY5LjMzM3ogICAgIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==");
}

.selected-pj-corner{
  position: fixed;
  height: 100vh;
  width: 25%;
  @include flex-col-center;
  right: -5%;
  top: 0;
  padding-top: 20%;
  box-sizing: border-box;
  .flex {
    position: relative;
    width: 100%;
    height: 80%;
    padding-top: calc(10px * 5);
    .pj-corner {
      width: 100%;
      height: calc(100% / 5 );
      overflow: hidden;
      padding-left: 20px;
      margin-top: -10px;
      position: relative;
      transform: rotate(22.5deg);
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        display: inline-block;
        z-index: 0;
        background: {
          size: 90% 90%;
          repeat: no-repeat;
          position: center;
        }
        @include star-outline;
        transform: rotate(-22.5deg);
      }
      img {
        height: 100%;
        position: absolute;
        right: -100%;
        top: 0;
        z-index: 1;
        opacity: 0;
        @include animate;
      }
      &.active {
        img {
          opacity: 1;
          right: -20%;
        }
      }
    }
  }
}

.selection-page {
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-content: center;
  align-items: center;
  padding-bottom: 60px!important;
  box-sizing: border-box;
}

.title-shine {
    position: relative;
    width: 100%;
    text: {
      align: center;
      transform: uppercase;
    }
    margin-top: 5em;
    margin-bottom: 10em;
    h1 {
      font-size: 10.5em;
      width: 100%;
      font-style:  italic;
      span {
        display: block;
        text-align: center;
        font-style: italic;
        line-height: 1.25em;
        letter-spacing: 5px;
        font: {
          size: 0.25em;
          family: "Noto Sans", sans-serif;
        }
      }
    }
    .shine {
      width: 100%;
      position: absolute;
      top: 0;
      opacity: 0.5;
      filter: blur(10px);
    }
  }
  

.selection-body {
  position: relative;
  width: 70%;
  margin-right: 30%;
  text: {
    align: center;
    transform: uppercase;
  }
  h1 {
    font-size: 3.55em;
    width: 100%;
    margin-bottom: 1.5em!important;
    font-style:  italic;
    span {
      display: block;
      text-align: center;
      font-style: italic;
      line-height: 0.75em;
      letter-spacing: 5px;
      font: {
        size: 0.75em;
        family: "Noto Sans", sans-serif;
      }
    }
  }
  a {
    color: $white;
    text-decoration: underline;
    font-size: 1.25em;
    text-align: center;
    font-style: italic;
    text-transform: initial;
    margin-top: 10px;
  }
  .button-list {
    margin-top: 10px;
  }
}

.pj-grid {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2em;
}

.pj {
  margin: 0.5em;
  @include flex-col-center;
  width: calc((100% / 3) - 1em);
  &.star {
    .pj-image {
      @include star;
    }
  }
  &.circle {
    .pj-image {
      @include circle;
    }
  }
  .pj-image {
    width: 80%;
    position: relative;
    background: {
      size: auto 100%;
      repeat: no-repeat;
      position: center;
    }
    margin-bottom: 1em;
    img {
      width: 100%;
    }
  }
  position: relative;
  text: {
    align: center;
    transform: uppercase;
  }
  h2 {
    font-size: 2em;
    max-width: 100%;
    font-style:  italic;
    span {
      display: block;
      text-align: center;
      font-style: italic;
      line-height: 0.625em;
      font: {
        size: 1em;
        family: "Noto Sans", sans-serif;
      }
    }
  }
}

.selection-footer {
  font-size: 1.25em;
  color: $white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 30px;
  @include flex-row-center;
  p {
    @include flex-row-center;
    img {
      width: 2em;
      height: 2em;
      max-width: 2em;
      &.at {
        margin-right: 0.5em;
      }
      &.g5{
        margin-left: 0.5em;
      }
    }
  }
}

.button {
  margin-right: 0.5em;
  button {
    text-transform: uppercase; 
    background: $color-1;
    border: 0;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    border: 2px solid $white;
    font-size: 2.75em;
    font-style:  italic;
    font-family: "Lilita One";
    color: $white;
    padding: 0;
  }
}